body {
    padding-top: 70px;
    background-color: #ededed;
}

.icon-title {
	padding-bottom: 20px;
}

.active {
	background-color: #ec971f !important;
	border-color: #ec971f !important;
}

.auction {
	margin: 4%;
}