
.popup-element {
	margin-top: 2%;
	margin-bottom: 2%;
}

h4 {
	margin-top: 5%;
}

#block1, #block2
{
    display:inline;
}

#block2 {
	margin-left: 30%;
}


.close {
    color: #ff6700; 
    opacity: 1;
}

textarea {
   resize: none;
}

.error {
    border-top:1px solid #99182c;
    border-right:1px solid #99182c;
    border-bottom:1px solid #99182c;
}